/* layer: default */
.border{border-width:1px;}
.border-\.5{border-width:0.5rem;}
.border-0{border-width:0;}
.border-1{border-width:1rem;}
.border-b{border-bottom-width:1px;}
.border-b-\.5{border-bottom-width:0.5rem;}
.border-b-1{border-bottom-width:1rem;}
.border-l{border-left-width:1px;}
.border-l-\.5{border-left-width:0.5rem;}
.border-l-1{border-left-width:1rem;}
.border-r{border-right-width:1px;}
.border-r-\.5{border-right-width:0.5rem;}
.border-r-1{border-right-width:1rem;}
.border-t{border-top-width:1px;}
.border-t-\.5{border-top-width:0.5rem;}
.border-t-1{border-top-width:1rem;}
.border-x{border-top-width:1px;border-bottom-width:1px;}
.border-x-\.5{border-top-width:0.5rem;border-bottom-width:0.5rem;}
.border-x-1{border-top-width:1rem;border-bottom-width:1rem;}
.border-y{border-left-width:1px;border-right-width:1px;}
.border-y-\.5{border-left-width:0.5rem;border-right-width:0.5rem;}
.border-y-1{border-left-width:1rem;border-right-width:1rem;}
.border-b-double{border-bottom-style:double;}
.border-dotted{border-style:dotted;}
.border-l-groove{border-left-style:groove;}
.border-r-dotted{border-right-style:dotted;}
.border-t-dashed{border-top-style:dashed;}
.border-x-hidden{border-top-style:hidden;border-bottom-style:hidden;}
.border-y-inset{border-left-style:inset;border-right-style:inset;}
.rounded{border-radius:1px;}
.rounded-b{border-bottom-left-radius:1px;border-bottom-right-radius:1px;}
.rounded-l{border-top-left-radius:1px;border-bottom-left-radius:1px;}
.rounded-r{border-top-right-radius:1px;border-bottom-right-radius:1px;}
.rounded-t{border-top-left-radius:1px;border-top-right-radius:1px;}
.rounded-bl{border-bottom-left-radius:1px;}
.rounded-br{border-bottom-right-radius:1px;}
.rounded-tl{border-top-left-radius:1px;}
.rounded-tr{border-top-right-radius:1px;}