/* layer: default */
.bottom{bottom:1px;}
.bottom-2{bottom:2rem;}
.bottom-auto{bottom:auto;}
.bottom-revert{bottom:revert;}
.inset{inset:1px;}
.inset-4{inset:4rem;}
.inset-auto{inset:auto;}
.inset-unset{inset:unset;}
.left{left:1px;}
.left-3{left:3rem;}
.left-auto{left:auto;}
.left-revert-layer{left:revert-layer;}
.right{right:1px;}
.right-1{right:1rem;}
.right-auto{right:auto;}
.right-initial{right:initial;}
.top{top:1px;}
.top-0{top:0;}
.top-auto{top:auto;}
.top-inherit{top:inherit;}