/* layer: one */
.b-1,
.border-1 {
	border-width: 1rem;
}
.b-b-4,
.border-b-4 {
	border-bottom-width: 4rem;
}
.b-e-9,
.border-e-9 {
	border-inline-end-width: 9rem;
}
.b-l-5,
.border-l-5 {
	border-left-width: 5rem;
}
.b-r-3,
.border-r-3 {
	border-right-width: 3rem;
}
.b-s-8,
.border-s-8 {
	border-inline-start-width: 8rem;
}
.b-t-2,
.border-t-2 {
	border-top-width: 2rem;
}
.b-x-6,
.border-x-6 {
	border-left-width: 6rem;
	border-right-width: 6rem;
}
.b-y-7,
.border-y-7 {
	border-top-width: 7rem;
	border-bottom-width: 7rem;
}
.rounded-1 {
	border-radius: 1rem;
}
.rounded-b-4 {
	border-bottom-left-radius: 4rem;
	border-bottom-right-radius: 4rem;
}
.rounded-bl-10 {
	border-bottom-left-radius: 10rem;
}
.rounded-br-11 {
	border-bottom-right-radius: 11rem;
}
.rounded-e-7 {
	border-start-end-radius: 7rem;
	border-end-end-radius: 7rem;
}
.rounded-ee-14 {
	border-end-end-radius: 14rem;
}
.rounded-es-15 {
	border-end-start-radius: 15rem;
}
.rounded-l-5 {
	border-top-left-radius: 5rem;
	border-bottom-left-radius: 5rem;
}
.rounded-r-3 {
	border-top-right-radius: 3rem;
	border-bottom-right-radius: 3rem;
}
.rounded-s-6 {
	border-start-start-radius: 6rem;
	border-end-start-radius: 6rem;
}
.rounded-se-13 {
	border-start-end-radius: 13rem;
}
.rounded-ss-12 {
	border-start-start-radius: 12rem;
}
.rounded-t-2 {
	border-top-left-radius: 2rem;
	border-top-right-radius: 2rem;
}
.rounded-tl-8 {
	border-top-left-radius: 8rem;
}
.rounded-tr-9 {
	border-top-right-radius: 9rem;
}
.basis-1 {
	flex-basis: 1rem;
}
.gap-2 {
	gap: 2rem;
}
.gap-x-3 {
	column-gap: 3rem;
}
.gap-y-4 {
	row-gap: 4rem;
}
.text-1 {
	font-size: 1rem;
}
.ls-2,
.tracking-2 {
	letter-spacing: 2rem;
}
.leading-3,
.lh-3 {
	line-height: 3rem;
}
.indent-4 {
	text-indent: 4rem;
}
.inset-1 {
	inset: 1rem;
}
.inset-x-2 {
	left: 2rem;
	right: 2rem;
}
.inset-y-3 {
	top: 3rem;
	bottom: 3rem;
}
.end-5 {
	inset-inline-end: 5rem;
}
.start-4 {
	inset-inline-start: 4rem;
}
.bottom-8 {
	bottom: 8rem;
}
.left-9 {
	left: 9rem;
}
.right-7 {
	right: 7rem;
}
.top-6 {
	top: 6rem;
}
.m-1 {
	margin: 1rem;
}
.mb-4 {
	margin-bottom: 4rem;
}
.me-9 {
	margin-inline-end: 9rem;
}
.ml-5 {
	margin-left: 5rem;
}
.mr-3 {
	margin-right: 3rem;
}
.ms-8 {
	margin-inline-start: 8rem;
}
.mt-2 {
	margin-top: 2rem;
}
.mx-6 {
	margin-left: 6rem;
	margin-right: 6rem;
}
.my-7 {
	margin-top: 7rem;
	margin-bottom: 7rem;
}
.p-1 {
	padding: 1rem;
}
.pb-4 {
	padding-bottom: 4rem;
}
.pe-9 {
	padding-inline-end: 9rem;
}
.pl-5 {
	padding-left: 5rem;
}
.pr-3 {
	padding-right: 3rem;
}
.ps-8 {
	padding-inline-start: 8rem;
}
.pt-2 {
	padding-top: 2rem;
}
.px-6 {
	padding-left: 6rem;
	padding-right: 6rem;
}
.py-7 {
	padding-top: 7rem;
	padding-bottom: 7rem;
}
.scroll-m-1 {
	scroll-margin: 1rem;
}
.scroll-mb-4 {
	scroll-margin-bottom: 4rem;
}
.scroll-me-9 {
	scroll-margin-inline-end: 9rem;
}
.scroll-ml-5 {
	scroll-margin-left: 5rem;
}
.scroll-mr-3 {
	scroll-margin-right: 3rem;
}
.scroll-ms-8 {
	scroll-margin-inline-start: 8rem;
}
.scroll-mt-2 {
	scroll-margin-top: 2rem;
}
.scroll-mx-6 {
	scroll-margin-left: 6rem;
	scroll-margin-right: 6rem;
}
.scroll-my-7 {
	scroll-margin-top: 7rem;
	scroll-margin-bottom: 7rem;
}
.scroll-p-1 {
	scroll-padding: 1rem;
}
.scroll-pb-4 {
	scroll-padding-bottom: 4rem;
}
.scroll-pe-9 {
	scroll-padding-inline-end: 9rem;
}
.scroll-pl-5 {
	scroll-padding-left: 5rem;
}
.scroll-pr-3 {
	scroll-padding-right: 3rem;
}
.scroll-ps-8 {
	scroll-padding-inline-start: 8rem;
}
.scroll-pt-2 {
	scroll-padding-top: 2rem;
}
.scroll-px-6 {
	scroll-padding-left: 6rem;
	scroll-padding-right: 6rem;
}
.scroll-py-7 {
	scroll-padding-top: 7rem;
	scroll-padding-bottom: 7rem;
}
.translate-x-1 {
	transform: translateX(1rem);
}
.translate-y-2 {
	transform: translateY(2rem);
}
